<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="btn">
    dsada
</button>
</body>
<script type="text/javascript" src="https://cdn.goeasy.io/goeasy-1.0.7.js"></script>
<script type="text/javascript">
    var goEasy = new GoEasy({
        host: 'hangzhou.goeasy.io', //应用所在的区域地址: 【hangzhou.goeasy.io |singapore.goeasy.io】
        appkey: "BC-fc1b339f111045c2b67033e0de23fd55", //替换为您的应用appkey
    });
    //GoEasy-OTP可以对appkey进行有效保护,详情请参考​ ​
    goEasy.subscribe({
        channel: "my_channel", //替换为您自己的channel
        onMessage: function (message) {
            console.log("Channel:" + message.channel + " content:" + message.content);
        }
    });
    var btn = document.getElementById("btn");
    btn.onclick = function () {
        console.log("dsadsadasda");
        goEasy.publish({
            channel: "my_channel", //替换为您自己的channel
            message: "Hello, GoEasy!" //替换为您想要发送的消息内容
        });
    }
</script>
</html>