<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shardjdbcdemo.mapper.THotSearchMapper">
  <resultMap id="BaseResultMap" type="com.example.shardjdbcdemo.model.THotSearch">
    <!--@mbg.generated-->
    <!--@Table t_hot_search-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsname" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="createTime" jdbcType="INTEGER" property="createtime" />
    <result column="delFlag" jdbcType="BOOLEAN" property="delflag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goodsName, weight, createTime, delFlag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_hot_search
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_hot_search
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.shardjdbcdemo.model.THotSearch">
    <!--@mbg.generated-->
    insert into t_hot_search (id, goodsName, weight, 
      createTime, delFlag)
    values (#{id,jdbcType=BIGINT}, #{goodsname,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, 
      #{createtime,jdbcType=INTEGER}, #{delflag,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" parameterType="com.example.shardjdbcdemo.model.THotSearch">
    <!--@mbg.generated-->
    insert into t_hot_search
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsname != null">
        goodsName,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="delflag != null">
        delFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.shardjdbcdemo.model.THotSearch">
    <!--@mbg.generated-->
    update t_hot_search
    <set>
      <if test="goodsname != null">
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        delFlag = #{delflag,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.shardjdbcdemo.model.THotSearch">
    <!--@mbg.generated-->
    update t_hot_search
    set goodsName = #{goodsname,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=INTEGER},
      delFlag = #{delflag,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>